body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.title{
    justify-content: center;
    align-items: center;
}
.header{
    justify-content: center;
    align-items: center;
    
}

.container{
    width: 500px;
    height: 500px;
    display: grid;
    border: 1px solid black;
}

.header{ 
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

}

.footer{ 
    display: flex;
    margin-top: 30px;
    gap: 15px;
}